.container{
    height: 5.2vh;
   background: #3C3C3C;
}

.header{
    display: flex;
    justify-content: left;
    padding-left: 4.2vw;
    line-height: 6px;
    

}

.titleItems{
    padding-left: 0;
}

.titleItems li{
    display: inline;
    text-decoration: none;
    color: #fff;
    padding-right:30px ;    

}