.container{
    height:92.3vh ;
    width: 22.5vw;
    background: #252526;
    display: flex;
    flex-direction: column;
}

.title{
    color: #858585;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 4vh;
    align-items: center;
    background: #252526;
}

.folderName{
    color:#fff;
    cursor: pointer;
    user-select: none;
}

.folderName img{
    padding: 0 3px;
}

.expand{
    color: #fff;
    text-decoration: none;
    padding: 0 0;
}

.expand ul{
    list-style: none;
}

.collapsed{
    display: none;
}