.button{
    display: flex;
    background: #2D2D2D;
    height: 4vh;
    width: fit-content;
    color: #fff;
    padding: 0 1%;
    align-items: center;
    font-size: 14px;
    border-right: rgba(0, 0, 0, 0.521) solid 0.5px;
}

.button img{
    /* scale:0.6; */
    padding-right: 5%;
    
}