.bigcontainer{
    display: flex;
    flex-direction: row;
}
.container{
    display: flex;
    flex-direction: column;
    width: 4.2vw;
    height: 92.3vh;
    background: #333333;
    z-index: -1;
    justify-content: space-between;
}

.subcontainer{
    display: flex;
    flex-direction: column;
}
.icon{
    padding: 16px;
    scale: 0.9;

}